<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
<div class="container">
<h3>用户信息</h3>
<table class="table table-striped">
  <thead>
 <tr>
    <th>#</th>
     <th>校园卡卡号</th>
     <th>用户名</th>
     <th>消费时间</th>
     <th>消费金额</th>
     <th>剩余金额</th>
  </tr>
  </thead>
  <tbody>
     {% for foo in data_list %}
       <tr>
           <td>{{ foo.pk }}</td>
           <td>{{ foo.card }}</td>
           <td>{{ foo.username }}</td>
           <td>{{ foo.consume_time}}</td>
           <td>{{ foo.consume_money}}</td>
           <td>{{ foo.rest_money}}</td>
       </tr>
    {%endfor%}
  </tbody>
</table>
 <div class="pagination" style="margin-top: -50px;width: 550px; margin-left: 280px;">
        <ul class="pagination">
                <ul class="pagination pagination-sm">
                        {{ page_obj.page_str|safe }}
                </ul>
        </ul>
 </div>
<h3 ng-show="edit">读卡器模拟</h3>
<h3 ng-hide="edit">消费模拟</h3>
<form class="form-horizontal" method="post" action="/cardtest/">
  <div class="form-group">
    <label class="col-sm-2 control-label">卡号:</label>
    <div class="col-sm-10">
        {% for foo in listinfo %}
            {{ foo.card }}
        {% endfor %}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">姓名:</label>
    <div class="col-sm-10">
        {% for foo in listinfo %}
            {{ foo.name }}
        {% endfor %}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">消费金额:</label>
    <div class="col-sm-10">
        {{ card_form.consume_money }}
{#        <input type="text" name="consume" class="form-control"  value=""/>#}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">剩余金额:</label>
    <div class="col-sm-10">
        {{ card_form.rest_money }}
{#        <input type="text" name="rest" class="form-control"  value=""/>#}
    </div>
  </div>
    <div class="form-input">
        <a href="/cardtest/" class="btn btn-success">提交</a>
    </div>
</form>
<p>{{ consume }}</p>
</div>
</body>
</html>
