<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>校园卡支付管理系统</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body data-vide-bg="{% static 'img/oceans.mp4' %}">
<form class="form-login" action="/login/" method="post">
      {% if message %}
       <div class="alert alert-warning">{{ message }}</div>
       {% endif %}
       {% csrf_token %}

  <div class="login-form">
    <h2>欢迎登陆</h2>
    <div class="form-input">
        {{ login_form.username.label_tag }}
        {{ login_form.username }}
{#      <input type="text" id="id_username" class="form-control" name="username" autofocus required placeholder="用户名">#}
    </div>
    <div class="form-input">
        {{ login_form.password.label_tag }}
        {{ login_form.password }}
{#      <input type="password" class="form-control" id="id_password" placeholder="密码" name="password" required>#}
    </div>
    <div class="form-input">
      <input type="submit" name='' value='登陆'>
    </div>
    <a href="/register/" class="forget">新用户注册</a>
  </div>
</form>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/jquery.vide.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>