{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>校园卡支付管理系统</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body data-vide-bg="{% static 'img/chxy.MP4' %}">
<form class="form-login" action="/register/" method="post">
      {% if message %}
       <div class="alert alert-warning">{{ message }}</div>
       {% endif %}
       {% csrf_token %}

  <div class="login-form">
    <h2>欢迎注册</h2>
      {% csrf_token %}
    <div class="form-input">
        {{ register_form.username.label_tag }}
        {{ register_form.username}}
{#        <label>用户名：</label>#}
{#        <input type="text" id="id_username" class="form-control" name="username" autofocus required placeholder="用户名">#}
    </div>
    <div class="form-input">
        {{ register_form.password1.label_tag }}
        {{ register_form.password1 }}
{#        <label>密码：</label>#}
{#      <input type="password" class="form-control" id="id_password" placeholder="密码" name="password" required>#}
    </div>
      <div class="form-input">
          {{ register_form.password2.label_tag }}
          {{ register_form.password2 }}
{#        <label>确认密码：</label>#}
{#      <input type="password" class="form-control" id="id_password" placeholder="密码" name="password" required>#}
    </div>
      <div class="form-input">
          {{ register_form.email.label_tag }}
          {{ register_form.email }}
{#          <label>邮箱：</label>#}
{#      <input type="email" class="form-control" id="id_email" placeholder="姓名" name="email" required>#}
    </div>
      <div class="form-input">
          {{ register_form.name.label_tag }}
          {{ register_form.name }}
{#          <label>姓名：</label>#}
{#      <input type="text" class="form-control" id="id_name" placeholder="姓名" name="name" required>#}
    </div>
     <div class="form-input">
          {{  register_form.sex.label_tag}}
          {{  register_form.sex}}
{#          <label>校园卡号：</label>#}
{#      <input type="text" class="form-control" id="id_cardnum" placeholder="卡号" name="cardnum" required>#}
    </div>
      <div class="form-input">
          {{  register_form.card.label_tag}}
          {{  register_form.card}}
{#          <label>校园卡号：</label>#}
{#      <input type="text" class="form-control" id="id_cardnum" placeholder="卡号" name="cardnum" required>#}
    </div>
        <div class="form-input">
            {{ register_form.onlyid.label_tag }}
            {{ register_form.onlyid }}
{#          <label>身份证号码：</label>#}
{#      <input type="text" class="form-control" id="id_password" placeholder="身份证号码" name="onlyid" required>#}
    </div>
    <div class="form-input">
      <input type="submit" name='' value='提交'>
    </div>
    <a href="/login/" class="forget">直接登录</a>
  </div>
</form>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/jquery.vide.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>